body {
		background: #eee;
}

.wrapper {
	width: 100%;
	padding: 1%;
}

.navbar, .navbar-brand {
	height: 100px;
}

.navbar-logo {
    max-height: 100%;
}

.menu-icons {
	height: 20px;
	width: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

@media only screen and (max-width: 766px) {
.collapsing, .in, .navbar-form {background-color: #f7f7f7;}
.collapsing ul li a, .in ul li a {color: #555!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
}

/****************************************
footer styles
****************************************/
.footer ul {
	list-style: none;
}

.footer li {
	display: inline-block;
}

.footer {
/*  position: absolute;
  bottom: 0; */
  width: 100%;
/* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer a {
	text-decoration: none;
	color: black;
}

.footer a:visited {
	color: black;
}

.footer a:hover {
	color: red;
}


.icons {
	height: 30px;
	width: 30px;
	margin-left: 10px;
	margin-right: 5px;
}